.wp-block-ds-blocks-ds-map-tile-toggles {
  font-size: var(--font-size-smaller);
  line-height: calc(.6 * var(--line-height-smaller));

  .toggle-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-transform: uppercase;
    background-color: var(--color-foreground);
    color: var(--color-background);
    box-shadow: var(--button-shadow);
  }
}

input[type="checkbox"] {
  $height: 30px;
  $border: 2px;
  $label-width: 1.3 * $height;
  $label-margin: 5px; // Gap between the border and the label.

  &.toggle {
    opacity: 0;
    position: absolute;
    left: -99999px;

    & + label {
      height: $height;
      line-height: $height;
      background-color: var(--color-gray);
      padding: 0 16px;
      border-radius: 0.5 * $height;
      display: inline-block;
      position: relative;
      cursor: pointer;
      transition: all .25s ease-in;
      box-shadow: inset 0 0 2px rgba(0, 0, 0, .5);

      &:before, &:hover:before {
        content: " ";
        position: absolute;
        top: $border;
        left: $border;
        width: $height - 2 * $border;
        height: $height - 2 * $border;
        background: var(--color-foreground);
        z-index: 2;
        border-radius: 0.5 * ($height - 2 * $border);
        transition: all .25s ease-in;
      }

      .off, .on {
        color: var(--color-foreground);
      }

      .off {
        display: inline-block;
        min-width: $label-width;

        &:before {
          position: absolute;
          content: "OFF";
          top: 0;
          right: $label-margin + $border;
        }
      }

      .on {
        display: none;
      }
    }

    &:checked + label {
      .off {
        display: none;
      }

      .on {
        display: inline-block;
        min-width: $label-width;

        &:before {
          position: absolute;
          content: "ON";
          top: 0;
          left: $label-margin + $border;
        }
      }
    }

    &:checked + label, &:focus:checked + label {
      background-color: var(--color-primary);

      &:before, &:hover:before {
        background-position: 0 0;
        top: $border;
        left: 100%;
        margin-left: -($height - $border);
      }
    }
  }
}
