.wp-block-ds-blocks-ds-map-panel {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  border: 1px solid var(--wp--preset--color--vivid-cyan-blue);
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;

  .ds-map-panel-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    border-radius: 9px 9px 0 0;
    padding: 10px;
    background-color: var(--wp--preset--color--vivid-cyan-blue);
    font-size: small;
    color: var(--wp--preset--color--black);

    min-height: 30px;
  }

  .ds-map-panel-info-geo-position {
  }

  .ds-map-panel-info-label-preview {
    font-weight: bold;
  }

  .ds-map-panel-info-icon-preview {
    max-width: 30px;
  }
}

.ds-map-panel-panel-icon {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
