$marker-pin-width: 50px;
$marker-pin-height: calc(53.69998px * $marker-pin-width / 39.93325px);

// The width of the arrow-head used by the marker-label.
$marker-label-width: 40px;
$marker-label-height: 17px;

/*
 The map panel navigation would contain the "next" and "prev" icon buttons.
 */
.ds-map-panel-navigation {
  padding: 20px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .prev-required, .next-required {
    width: 0;
  }

  &.has-prev {
    .prev-required {
      width: inherit;
    }
  }

  &.has-next {
    .next-required {
      width: inherit;
    }
  }
}

$filter: none; // drop-shadow(0 0 5px var(--color-foreground)) drop-shadow(0 0 15px var(--color-primary));

/*
 The marker pin is the base for numeric as well as icon markers.
 */
.ds-map-marker-pin {
  width: $marker-pin-width;
  height: $marker-pin-height;
  filter: $filter;
}

.ds-map-marker-pin-circle {
  fill: var(--color-foreground);
}

.ds-map-marker-pin-background {
  fill: var(--color-background);
}

.marker-active .ds-map-marker-pin .ds-map-marker-pin-background {
  fill: var(--color-primary);
}

/*
 The numeric marker pin.
 */
.ds-map-marker-pin-numeric {
  .ds-map-marker-number {
    position: absolute;
    top: calc($marker-pin-height / 9);
    left: 0;
    right: 0;
    text-align: center;
    line-height: calc($marker-pin-height / 2);
    color: var(--color-background);
  }
}

/*
 The icon marker pin.
 */
.ds-map-marker-pin-icon {
  .ds-map-marker-icon {
    position: absolute;
    top: calc($marker-pin-height / 7.5);
    left: calc($marker-pin-height / 7);
    right: calc($marker-pin-height / 7);
    text-align: center;

    img.ds-map-marker-icon-img {
      max-width: 100% !important;
      height: auto;
    }
  }
}

/*
 The label text marker.
 */
.ds-map-marker-label-text {
  position: relative;
  width: $marker-label-width;
  height: $marker-label-height;
  filter: $filter;
}

.ds-map-marker-label {
  position: absolute;
}

.ds-map-marker-text {
  position: absolute;
  bottom: $marker-label-height;
  box-sizing: border-box;
  width: 0;
  left: calc($marker-label-width / 2);
  overflow: visible;
  display: flex;
  justify-content: center;

  > div {
    box-sizing: border-box;
    color: var(--color-background);
    background-color: var(--color-foreground);
    padding: 5px 10px;
    border-radius: 10px;

    border: 5px solid var(--color-background);
    white-space: nowrap;
  }
}

.ds-map-marker-label-arrowhead {
  fill: var(--color-background);
}

.marker-active.ds-map-marker-label-text {
  .ds-map-marker-text > div {
    border-color: var(--color-primary);
  }

  .ds-map-marker-label-arrowhead {
    fill: var(--color-primary);
  }
}
